html {
	font-family: 'Roboto', sans-sarif;
	background-color: lightgrey;
	text-align: center;
}
h1{
	margin-top: 40px;
	padding: 10px 40px;
}

textarea {
	width: 30%;
	margin: 15px;
	height: 150px;
	background-color: #f8f8f8;
	border-radius: 4px;
	border: 2px solid #ccc;
	resize: none;
	font-size: 15px;
	font-family: 'Input', 'Monaco', monospace;
}